/***********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1650px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            right: -27%;
        }
    }
}/* 1650 */

@media only screen and (max-width: 1460px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {
        
        .media {
            right: -32%;
        }
    }
}/* 1460 */

@media only screen and (max-width: 1366px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            right: -42%;
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 75px 0;
    }

}/* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 65px; line-height: 90px; }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            right: -75%;
        }

        .navbar { 

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                                display: none;
                            }
                        }
                    }  
                }
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 60px 0;

        .widget {

            .widget-title {
                margin-bottom: 25px;
            }

            &:first-child {
                max-width: 100%;
            }

            .footer-logo {
                margin-bottom: 20px;
            }

            .social-text {
                margin-bottom: 20px;
            }
        }

        .copyright-wrapper {
            margin-top: 30px;
        }
    }

}/* 1199 */

@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 50px; line-height: 75px; }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            top: -85%;
            right: -100%;
        }

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        margin-left: -10px;
                        margin-right: -10px;

                        > li {
                            padding-left: 10px;
                            padding-right: 10px;

                            &:nth-child(4) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 50px 0;

        .copyright-wrapper {
            margin-top: 20px;
        }
    }

}/* 991 */

@media only screen and (max-width: 870px) {
    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            top: -85%;
            right: -120%;
        } 

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-child(5) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    } 

}/* 870 */

@media only screen and (max-width: 815px) {
    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            top: -85%;
            right: -150%;
        } 

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {
                            display: none;
                        }
                    }
                }
            }
        }
    } 

}/* 815 */

@media only screen and (max-width: 767px) {

    h1, .h1 { font-size: 40px; line-height: 55px; }
    h2, .h2 { font-size: 36px; line-height: 44px; }
    h3, .h3 { font-size: 30px; line-height: 36px; }
    h4, .h4 { font-size: 26px; line-height: 34px; }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {
        padding: 13.5px 0;

        .media {
            right: -180%;
        }
    }

    .header_gutter {
        height: 66px;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/ 
    .footer {
        padding: 40px 0;

        .widget {

            .footer-menu {

                > li {
                    margin-bottom: 15px;
                }
            }
        }

        .copyright-wrapper {
            margin-top: 0;
        }
    }

}/* 767 */ 



@media only screen and (max-width: 680px) {
    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media { 
            right: -200%;
        }  
    } 

}/* 680 */

@media only screen and (max-width: 575px) {

    body, .body { font-size: 16px; line-height: 24px; }

    h1, .h1 { font-size: 36px; line-height: 44px; }
    h2, .h2 { font-size: 30px; line-height: 36px; }
    h3, .h3 { font-size: 28px; line-height: 34px; }
    h4, .h4 { font-size: 24px; line-height: 32px; }
    h5, .h5 { font-size: 20px; line-height: 30px; }
    h6, .h6 { font-size: 16px; line-height: 24px; }

    section {
        padding: 30px 0;
    }

    .col {
        width: 100%;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .media {
            top: -130%;
            right: -240%;
        }
    }
  
    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {

        .widget {

            .widget-title {
                margin-bottom: 20px;
            }

            .footer-menu {

                > li {
                    margin-bottom: 10px;
                }
            }
        }

        .social-media {
            margin-left: -3px;
            padding-right: -3px;

            li {
                padding-left: 3px;
                padding-right: 3px;

                a {
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                }
            }
        }
    }
    
}/* 575 */

@media only screen and (max-width: 480px) {

    h1, .h1 { font-size: 34px; line-height: 40px; }

    p {
        margin: 0 0 20px;
    } 

}/* 480 */